.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: #fff;
  /* color: white; */
  color: black;
  min-height: 100vh;
}

.header {
  background-color: rgb(23, 32, 135);
  padding: 8px;
  color: #fff;
}



.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  padding: 14px;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(51, 51, 175);
  color: #fff;
  padding: 5px;
  margin: 5px;

}

.heading {
  color: black;
  font-size: 80px;
  margin: 10px;
}